{{#partial "content"}}
    <div class="slide-container">

        <div class="wrapper">
            <div class="clash-card barbarian">
                <div class="clash-card__image clash-card__image--barbarian">
                    <img src="images/hero.jpg" alt="" />
                </div>
                <div class="clash-card__unit-name">HERO CREATED</div>

                <div class="clash-card__unit-description">
                    <p><strong>Hero Name: -</strong>MAMEN </p>

                    <p><strong>Hero's Squad: -</strong>Ink Gang</p>

                    <p><strong>Hero's Power: -</strong>Matter manipulation</p>

                    <p><strong>Hero's Weakness: -</strong>Humans</p>

                    <p><strong>Hero's Age: </strong>150</p>

                    <a href="hero/{{id}}" class="btn">Learn More</a>
                    <a href="/squad" class="btn">Add {{ name }} To Squad</a>

                </div>

            </div>
        </div>
    </div>

    </div>
    </div>
{{/partial}}

{{> layout.hbs}}
