{{#partial "content"}}
    <section class="landing-pg">
        <div class="land-left">
        </div>
        <div class="land-right">
        </div>
        <div class="hero-img">
        </div>
        <div class="hero-desc">

            <section class="home">
                <h3>HERO SQUAD</h3>
                <p>Where heroes are based there must be a squad</p>
                <p>Learn how to link a Hero to a special squad</p>

                <a href="/hero-form"><button class="hero-btn btn">Create Hero</button></a>
            </section>

        </div>
    </section>
{{/partial}}
{{> layout.hbs}}
